/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  background-color: var(--g2-color-slate);
  color: #fff;
}

.wapuu {
  margin-bottom: 2rem;
  height: 120px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  max-width: min(90vw, var(--ifm-container-width-xl));
  margin: 4rem auto;
}

.gridItem {
  border: 2px solid var(--g2-color-blue);
  padding: 1rem;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  position: relative;
}

.gridItem a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
