/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "Virgil";
  src: url("/static/Virgil.woff2") format("woff2");
}

@import "variables";
@import "global-site";
@import "global-header";
@import "global-footer";
@import "homepage-search";


.gotQuestions {
  margin: 5rem auto;
  text-align: center;
}

.gotQuestions__wrapper {
  position: relative;
}

.gotQuestions__wrapper svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.gotQuestions__image {
  display: block;
  margin: 2rem auto;
  max-width: 60%;
}