.theme-doc-sidebar-container a {
	text-decoration: none
}

.menu__link--active:not(.menu__link--sublist) {
	/* background: var(--ifm-color-white); */
	box-shadow: 0 2px 3px -1px var(--ifm-shadow-overlay);
	outline: 1px solid var(--ifm-border-color);
}

.theme-doc-sidebar-container .menu {
	padding: 0.5rem;
}

.menu__list {
	font-size: .875rem;
}

.menu__list-item-collapsible {
	font-size: 1.125rem;
}

.menu__list-item-collapsible a {
	color: var(--ifm-color-black);
}